@font-face {
  font-family: "CyrillicOld";
  src: url("../fonts/CyrillicOld.ttf"); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-width: 320px;
  margin: auto;
  font-family: "Ubuntu", sans-serif; }

.wrap {
  margin: auto;
  padding: 0 20px; }

header {
  width: 100%; }
  header .header_menu_row {
    background-color: #fdfbf6;
    position: fixed;
    z-index: 3;
    width: 100%; }
    header .header_menu_row .wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 8px 20px; }

.mob_main_menu {
  width: 25px;
  height: 19px;
  position: relative;
  z-index: 3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  .mob_main_menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
    .mob_main_menu span:first-child {
      top: 0px; }
    .mob_main_menu span:nth-child(2) {
      top: 8px; }
    .mob_main_menu span:last-child {
      top: 16px; }

.open_menu span:first-child {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  left: 3px; }

.open_menu span:nth-child(2) {
  width: 0%;
  opacity: 0; }

.open_menu span:last-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 18px;
  left: 3px; }

.main_menu {
  position: fixed;
  background-color: #a8353a;
  width: 100vw;
  height: 100vh;
  background-color: rgba(168, 53, 58, 0.86);
  top: -100vh;
  left: 0;
  padding: 80px 50px;
  z-index: 2;
  transition: top .5s ease-in-out; }

.show_menu {
  top: 0; }

.main_menu_list {
  list-style-type: none; }
  .main_menu_list li {
    margin: 20px 0; }
    .main_menu_list li a {
      font-size: 14px;
      text-decoration: none;
      color: #000; }
      .main_menu_list li a:hover {
        color: #fff; }
    .main_menu_list li .current_page {
      color: #fff; }

.header_buttons {
  width: 220px;
  display: flex; }

.btn {
  width: 100%;
  height: 29px;
  outline: none;
  margin: 5px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif; }

.btn_transparent {
  border: 1px solid #a8353a;
  color: #a8353a;
  background-color: transparent; }
  .btn_transparent:hover {
    color: #bd0008;
    border-color: #bd0008; }

.btn_red {
  background-color: #a8353a;
  color: #fff; }
  .btn_red:hover {
    background-color: #bd0008; }

.site_language {
  width: 30px; }

.lang {
  font-size: 14px;
  text-decoration: none;
  color: #000; }
  .lang:hover {
    color: #a8353a; }

.current_lang, .current_page {
  color: #a8353a; }

.logo_row {
  background-image: url("../images/background.jpg");
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
  top: 55px;
  width: 100%; }

.inner_logo_row {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px 0; }

.logo_description {
  font-family: "CyrillicOld", arial;
  font-size: 15px;
  color: #a8353a;
  text-transform: uppercase;
  margin-bottom: 10px; }

.logo_block {
  width: 100%; }
  .logo_block img {
    max-width: 371px;
    width: 100%;
    height: auto; }

main {
  position: relative;
  top: 55px;
  background-color: #f6edd0;
  padding: 30px 0;
  z-index: 2; }

.to_main {
  margin-bottom: 40px; }
  .to_main a {
    text-decoration: none;
    color: #a8353a;
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px; }
    .to_main a:hover {
      color: #000; }

.programm_title_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px; }

.programm_title {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex; }
  .programm_title:before {
    content: '';
    background-color: #a8353a;
    width: 7px;
    margin: 7px 0;
    display: block;
    margin-right: 13px; }

.items_display {
  display: flex; }
  .items_display svg {
    cursor: pointer;
    margin-left: 13px; }

.filters h3 {
  padding: 20px;
  margin: 10px 0;
  text-transform: uppercase;
  background-color: #fff;
  cursor: pointer; }

.filters form {
  display: none; }

.filter_block {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 22px 25px 27px; }
  .filter_block h4 {
    font-size: 18px;
    font-weight: 400;
    color: #6e6e6e;
    text-transform: uppercase;
    margin-bottom: 16px; }

.checkbox_block {
  margin-bottom: 7px; }
  .checkbox_block label {
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .checkbox_block label:before {
      content: '';
      display: block;
      color: red;
      width: 23px;
      height: 23px;
      border: 1px solid #000;
      border-radius: 2px;
      margin-right: 7px; }
  .checkbox_block input {
    display: none; }
    .checkbox_block input:checked + label {
      color: #a8353a; }
      .checkbox_block input:checked + label:before {
        content: '\2714';
        color: #a8353a;
        text-align: center;
        line-height: 23px;
        font-weight: 900; }

.filter_buttons {
  text-align: center;
  padding: 0 24px; }
  .filter_buttons .btn {
    margin: 10px 0;
    width: 100%;
    height: 46px;
    border-radius: 8px;
    text-align: center; }

.items {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: -15px; }

.item {
  width: calc(100% - 30px);
  margin: 15px; }

.item_image {
  width: 100%;
  height: 220px;
  overflow: hidden; }
  .item_image img {
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    position: relative;
    height: 100%; }

.item_description {
  background-color: #fff;
  padding: 25px 10px 30px;
  position: relative;
  height: 250px; }

.item_text {
  position: absolute;
  bottom: 18px; }

.item_title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 55px; }

.item_date, .item_time, .item_location, .item_theme {
  font-size: 16px;
  margin-bottom: 10px; }

.item_info_title {
  color: #a8a8a8; }

footer {
  top: 55px;
  background-color: #a8353a;
  position: relative;
  padding: 45px 0;
  color: #4f181a; }

.contacts_info {
  margin: 20px auto;
  text-align: center; }
  .contacts_info a {
    display: block;
    text-decoration: none;
    color: #4f181a;
    font-size: 18px; }

.socials {
  margin: auto;
  text-align: center;
  margin-left: -16px; }
  .socials a {
    width: 42px;
    height: 40px;
    margin-left: 16px;
    display: inline-block;
    border: 1px solid #4f181a;
    position: relative; }
    .socials a:before {
      content: '';
      background-image: url("../images/sprite.png");
      display: block;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0; }

.facebook:before {
  width: 11px;
  height: 24px; }

.gmail:before {
  width: 22px;
  height: 24px;
  background-position: -21px 0; }

.youtube:before {
  width: 24px;
  height: 30px;
  background-position: -47px 0; }

.history {
  margin-top: 50px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 20px; }

@media (min-width: 420px) {
  .header_buttons {
    width: auto; }
  .btn {
    width: 141px; } }

@media (min-width: 480px) {
  .logo_block {
    margin-left: 30px;
    width: auto; } }

@media (min-width: 480px) {
  .item {
    width: calc(50% - 30px); } }

@media (min-width: 820px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  .contacts_info {
    margin-top: -10px;
    text-align: left; }
  .socials {
    margin: -20px 0 0; } }

@media (min-width: 960px) {
  .item {
    width: calc(33.3333% - 30px); } }

@media (min-width: 1170px) {
  .wrap {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto; }
  .mob_main_menu {
    display: none; }
  .main_menu {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent; }
  .main_menu_list {
    display: flex; }
    .main_menu_list li {
      margin-right: 30px; }
      .main_menu_list li .current_page, .main_menu_list li a:hover {
        color: #a8353a; }
  .logo_row, main, footer {
    top: 74px; }
  .header_buttons {
    margin-left: 75px; }
  .programms_window {
    display: flex;
    flex-wrap: wrap; }
  .items {
    width: calc(100% - 270px); }
  .item_image {
    width: 270px;
    height: 217px; }
  .item_description {
    height: 207px; }
  .filter_open {
    display: none; }
  .filters {
    margin-right: 30px;
    width: 270px; }
    .filters form {
      display: block; } }
